<!---Official and not clone --->
<div class="navigation">
  <div class="logo">
     <a class="no-underline" href="#">
     Micro - Instagram
     </a>
  </div>
  <div class="navigation-search-container">
     <i class="fa fa-search"></i>
     <input class="search-field" type="text" [disabled]="true" placeholder="Search">
     <div class="search-container">
        <div class="search-container-box">
           <div class="search-results">
           </div>
        </div>
     </div>
  </div>
  <div >
   <input class="button"  [routerLink]="['/posts/new']" type="button"  title="Create">
  </div>
</div>
<!---Official and not clone --->